/.vscode
/games
/data
/build
/dist

deps/wasi-sdk
deps/*.a
cores/*.a
cores/*-libs/

app/build
app/sources/*.o

app/include/res_inputs.h

ui/build
ui/node_modules
ui/development.key
ui/development.cert
.DS_Store
